/.idea
!.idea/runConfigurations/
*.iml
*.ipr
*.iws
*.salive
/bin/
/.settings/
/.gradle/
/1.12.2-Forge/.gradle/
/1.12.2-Forge/build/
/1.12.2-Forge/run/
/backups
/log.txt
/.mixin.out
/DragLine-1.12
/config
/crash-reports
/GermCache
/GermResourcepacks
/logs
/mods
/resourcepacks
/saves
/vexview
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
/build
